* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --bule-color: #0075ff;
    --blue-color-alt: #0d69d5;
    --green-color: #22c55e;
    --red-color: #f44336;
    --orange-color: #f59e0b;
    --grey-color: #888;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}


::-webkit-scrollbar-thumb {
    background-color: var(--bule-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-color-alt);
}

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;

}

@media (min-width: 768px) {

    .sidebar>h3::before,
    .sidebar>h3::after {
        content: "";
        position: absolute;
        background-color: black;
        left: 50%;
        transform: translateX(-50%);
    }

    .sidebar>h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;

    }

    .sidebar>h3::after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        bottom: -29px;
        border: 4px solid white;
    }


    .sidebar ul li a:hover,
    .sidebar ul li a.active {
        background-color: #f6f6f6;
    }
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin: -10px -11px 15px;
    }

    .sidebar ul li a {
        margin-left: -50%;
    }
}

.content {
    overflow: hidden;
}

.content .head .search::before {
    font-family: "Font Awesome 4 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}


.content .head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: 0.3s;

}


.content .head .search input:focus {
    outline-color: #ddd;
    width: 200px;
}

.content .head .search input:focus::placeholder {
    opacity: 0;
}

.content .head .icons .notifcation::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--red-color);
    top: -10px;
    right: -5px;
    border-radius: 50%;
}

.content .head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    cursor: pointer;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    background-origin: -10px;
    left: 0;
    bottom: -10px;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }

    .block-mobile {
        display: block;
    }

    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 20px;
        margin-right: 20px;
        gap: 10px;
    }
}

.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}


.welcome .visit {
    margin: 15px 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-color-alt);
}

@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}


.quaick-draft textarea {
    resize: none;
    min-height: 180px;
}


.quaick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.quaick-draft .save:hover {
    background-color: var(--blue-color-alt);
}

.quaick-draft input:focus::placeholder,
.quaick-draft textarea:focus::placeholder {
    opacity: 0;
}

.targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}


.targets-row .details {
    flex: 1;
}

.targets-row .details .progress {
    height: 4px;
}

.targets-row .details .progress>span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.targets-row .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 14px;
}

.targets-row .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.targets-row .details .progress>.blue span::after {
    border-top-color: var(--bule-color);
}

.targets-row .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.targets-row .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}

.latest-news .news-row:not(:last-of-type) {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}


.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;

}

.latest-news .news-row .info {
    flex-grow: 1;
}


.latest-news .news-row .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}


@media (max-width:767px) {
    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .lable {
        margin: 10px auto;
        width: fit-content;
    }
}

.tasks .tasks-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .tasks-row .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.3;
}


.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
    font-size: 24px;
}

.tasks .delete:not(.done):hover {
    color: var(--red-color);
}

.latest-uplods ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-projects ul::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--bule-color);
}

.latest-projects ul li::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--bule-color);
    margin-right: 15px;
    z-index: 1;
}

.latest-projects ul li.done::before {
    background-color: var(--bule-color);
}

.latest-projects ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.latest-projects .lunch-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    opacity: 0.2;
}

.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li>.blue {
    content: '';
    border-left: 3px solid var(--bule-color);
}

.reminders ul li>.green {
    border-left: 3px solid var(--green-color);
}

.reminders ul li>.orange {
    border-left: 3px solid var(--orange-color);
}

.reminders ul li>.red {
    border-left: 3px solid var(--red-color);
}

.latest-post .avatar {
    width: 48px;
    height: 48px;
}


.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    min-height: 140px;
}

.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: 0.3s;
}

.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 /20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.fa-twitter:before {
    margin-left: 10px;
}


.social-media .facebook {
    background-color: rgb(24 119 242 /20%);
    color: #1877f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.fa-facebook:before {
    margin-left: 15px;
    margin-top: 8px;
}



.social-media .youtube {
    background-color: rgb(255 0 0 /20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.fa-youtube:before {
    margin-left: 10px;
}


.social-media .linkedin {
    background-color: rgb(0 119 181 /20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

.fa-linkedin:before {
    margin-left: 10px;
}


.projects .responiseve-table {
    overflow-x: auto;

}

.projects table {
    min-width: 1000px;
    border-spacing: 0;
}

.projects thead td {
    background-color: #eee;
    font-weight: bold;
}

.projects table td {
    padding: 15px;
}

.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}

@keyframes change-color {
    from {
        background-color: var(--bule-color);
    }

    to {
        background-color: white;
    }
}


/* ///// Settings //////////////////*/
.setting-page {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.setting-page .close-massage {
    resize: none;
    border: 2px solid #ccc;
    min-height: 150px;
}

@media (max-width:767px) {
    .setting-page {
        grid-template-columns: minmax(500px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.setting-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}

.setting-page .social-box i {
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}

.setting-page .sec-box {
    margin-bottom: 20px;
}

.setting-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.setting-page .social-box input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}

.setting-page .social-box input:focus::placeholder {
    opacity: 0;
}

.setting-page .social-box>div:focus-within i {
    color: black;
}

.setting-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}


.widgits-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.widgits-control .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
    border-radius: 4px;
}

.widgits-control .control label:hover::before {
    border-color: var(--blue-color-alt);
}

.widgits-control .control label:hover {
    color: var(--blue-color-alt);
}

.widgits-control .control input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
}

.widgits-control .control label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    background-color: var(--bule-color);
    margin-top: -9px;
    font-size: 12px;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
    border-radius: 4px;
}

.widgits-control .control input[type='checkbox']:checked+label::after {
    transform: scale(1);
}



.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}

.backup-control .date label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: var(--bule-color);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0) rotate(360deg);
}

.backup-control .date label:hover {
    color: var(--blue-color-alt);
}

.backup-control .date label:hover::before {
    border-color: var(--blue-color-alt);
}

.backup-control .date input[type="radio"]:checked+label::before {
    border-color: var(--bule-color);
}

.backup-control .date input[type="radio"]:checked+label::after {
    transform: scale(1);
}


.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

@media (max-width:767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}

.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;

}

.backup-control .servers .server label {
    cursor: pointer;
}

.backup-control .servers input[type="radio"]:checked+.server {
    border-color: var(--bule-color);
    color: var(--bule-color);

}


.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    display: flex;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--bule-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 50px;
}

/*///////////////////*/

/*******profile-page*******/
@media (min-width:768px) {
    .profile-page .avater-box {
        width: 300px;
        border-right: 1px solid #eee;
    }
}


.profile-page .avater-box>img {
    width: 120px;
    height: 120px;
}


.profile-page .avater-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.profile-page .avater-box .level span {
    position: absolute;
    left: 0%;
    top: 0;
    height: 100%;
    background-color: var(--bule-color);
    border-radius: 6px;
}


.profile-page .info-box h4 {
    font-weight: normal;
}


.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}


.profile-page .info-box .box:hover {
    background-color: #eee;
}


.profile-page .info-box .box>div {
    min-width: 250px;
    padding: 10px 0 0;
}

@media (max-width:768px) {
    .profile-page .othere-data {
        flex-direction: column;
    }
}

.profile-page .skills-card {
    flex-grow: 1;
}


.profile-page .skills-card ul li {
    padding: 15px 0;
}

.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;

}

.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font: 14px;
    margin-left: 10px;
}

.profile-page .activities {
    flex-grow: 2;
}


.profile-page .activities .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-page .activities .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50%;
}

.profile-page .activities .activity .date .time {
    background-color: #eee;
    padding: 4px 10px;
    text-align: center;
    border-radius: 6px;
}

@media (min-width:768px) {
    .profile-page .activities .activity .date {
        margin-left: auto;
        text-align: right;
        margin-right: 15px;
    }

}

@media (max-width:768px) {
    .profile-page .activities .activity {
        flex-direction: column;
    }

    .profile-page .activities .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .profile-page .activities .activity .date {
        margin-top: 15px;
    }
}

/*//////////////////////*/


/*/////////////Projects////////////////*/

.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width:767px) {

    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}

.projects-page .project h4 {
    font-weight: normal;
}

.projects-page .project .team {
    position: relative;
    min-height: 80px;
}

.projects-page .project .team a {
    position: absolute;
    left: 0;
    top: 0;
}

.projects-page .project .team a:nth-child(2) {
    left: 25px;
}

.projects-page .project .team a:nth-child(3) {
    left: 50px;
}

.projects-page .project .team a:nth-child(4) {
    left: 75px;
}

.projects-page .project .team a:nth-child(5) {
    left: 100px;
}

.projects-page .project .team a:hover {
    z-index: 1000;
}

.projects-page .project .team a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .project .tech {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}


@media (max-width:767px) {
    .projects-page .project .tech {
        flex-direction: column;
    }
}

.projects-page .project .tech span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}

@media (max-width:767px) {
    .projects-page .project .tech span:not(:last-child) {
        margin-bottom: 15px;
    }
}

.projects-page .project .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}


@media (max-width:767px) {
    .projects-page .project .info {
        flex-direction: column;
    }

    .projects-page .project .prog {
        margin-bottom: 15px;
    }
}

.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}

.projects-page .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}

/*/////////////////////////////*/

.course-page {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

@media (max-width:767px) {

    .course-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}



.course-page .course {
    overflow: hidden;
}

.course-page .course .cover {
    max-width: 100%;

}

.course-page .course .instructuon {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 2px solid white;
}


.course-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;

}


.course-page .course .info .title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}

.course-page .course .description {
    line-height: 1.6;
}

/*////////////////////////////////*/

.friend-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width:767px) {

    .friend-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


.friend-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}

.friend-page .contact i {
    background-color: #eee;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    font-size: 13px;
}

.friend-page .contact i:hover {
    background-color: var(--bule-color);
    color: white;

}


.friend-page .friend .icons {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.friend-page .friend .icons i {
    margin-right: 5px;
}

.friend-page .friend .vip {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.4;
}

/*///////////////////////////////////////*/
.file-page {
    align-items: flex-start;
    flex-direction: row-reverse;
}


@media (max-width:767px) {
    .file-page {
        flex-direction: column;
        align-items: normal;
    }
}

.file-page .file-stats {
    min-width: 250px;
}

.file-page .file-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.file-page .file-stats .size {
    margin-left: auto;
}


.file-page .file-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}

.fa-file-pdf-o:before {
    content: "\f1c1";
    margin-left: 11px;
}

.file-page .file-stats .red {
    background-color: rgb(244 67 54 / 20%);
}

.fa-file-word-o:before {
    content: "\f1c2";
    margin-left: 11px;
}

.file-page .file-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8";
    margin-left: 12px;
}

.file-page .file-stats .green {
    background-color: rgb(34 197 94 / 20%);
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content: "\f03e";
    margin-left: 9px;
}

.file-page .file-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
}

.file-page .file-stats .upload:hover {
    background-color: var(--blue-color-alt);
}


.file-page .file-stats .upload:hover i {
    animation: go-up 0.8s infinite;
}

@keyframes go-up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

}

.file-page .file-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.file-page .file-content img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
}

.file-page .file-content .file:hover img {
    transform: rotate(5deg);
}

.file-page .file-content .info {
    border-top: 1px solid #eee;
}

.file-page .file i {
    cursor: pointer;
    padding-top: 5px;
    padding-left: 5px;
    color:#666;
}

.file-page .file i:hover {
    color: var(--bule-color);
}

/*//////////////////////////*/
.plan-page{
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width:767px) {

    .plan-page {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.plan-page .plan ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.plan-page .plan ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}