
:root {
   --primary-color: #abc3d8; 
   --border-color: #ddd;
   --btn-color: #214368;
   --btn2-color : rgb(45, 101, 82);
   --background-color: rgb(255, 255, 255);
   --text-color: black;
}

/* هيدر */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: calc(100% - 260px); 
   z-index: 1000;
   background-color: var(--background-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   transition: all 0.25s ease-in-out;
   margin-bottom: 30px;
}

.header-container {
   display: flex;
   align-items: center;
   width: 100%;
}

.header-icons {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-right: auto; 
}

.header-icons button {
   background-color: transparent;
   border: none;
   color: var(--background-color);
   font-size: 1.25rem;
   margin-left: 1rem;
   cursor: pointer;
}

body {
   font-family: 'Poppins', sans-serif;
   direction: rtl;
   margin-right: 260px;
   width: calc(100% - 260px); 
   margin-top: 100px;
}

/* تعديل التنسيقات العامة للصفحة */
.container {
   margin-top: 5rem;
}
/* Title*/
.title {
   text-align: right;
   position: relative; 
   margin-right: 55px;
   margin-top: 15px; 
}

.modal-header .btn-close.move-right {
   position: absolute;
   right: 1rem;
   text-align: right;
}
#sidebar {
   width: 240px;
   min-width: 260px;
   z-index: 1;
   transition: width 0.3s;
   display: flex;
   flex-direction: column;
   right: 0; 
   position: fixed; 
   top: 0;
   bottom: 0; 
   border-left: 1px transparent var(--text-color);;  
}
.sidebar-logo {
   margin: auto 0;
}
.sidebar-logo a {
   color: var(--text-color);
   font-size: 1.15rem;
   font-weight: 600;
}
#sidebar .sidebar-logo,
#sidebar .sidebar-link span {
   display: inline-block; 
}

.sidebar-nav {
   padding: 1rem 0;
   flex: 1 1 auto;
}
.sidebar-logo img {
   max-width: 100%;
   height: auto;
}
a.sidebar-link {
   padding: .625rem 0; 
   color: var(--text-color);
   display: block;
   font-size: 0.9rem;
   white-space: nowrap;
   border-right: 3px solid transparent; 
   margin-right: 20px; 
   text-align: right; 
   margin-bottom: 30px;
}

.p1{
   padding: .625rem 0; 
   text-align: right; 
   margin-right: 35px; 
}

.sidebar-link i {
   font-size: 1.1rem;
   margin-left: .75rem; 
   margin-right: 0; 
}
a.sidebar-link:hover {
   background-color: #b0aeb4;
   border-right: 3px solid #3b7ddd; 
}
.sidebar-item {
   position: relative;
   margin-right: 0;
}
.sidebar-link.active {
   color: rgb(118, 201, 225) !important;
}
.footer {
   position: fixed;
   bottom: 0;
   left: 0; 
   width: calc(100% - 70px); 
   color:  var(--background-color);
   padding: 0 20px;
   text-align: center;
   transition: all 0.25s ease-in-out;
   height: 50px;
   display: flex;
   align-items: center; 
   justify-content: center; 
   box-sizing: border-box;
}
.mb-0{
   height: 100px;
}
.footer.expand {
   width: calc(100% - 260px); 
}

.home {
    justify-content: center;
    text-align: right;
    margin: 0 0 0 50px;
 }
 .home h2{
   margin-right: 30px;
   font-weight: bold;
 }
.heading {
    font-size: 30px;
    font-weight: bold;
    color:var(--text-color);
 }
.rrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    margin-top: 40px;   
 }
.card {
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    width: 80%;
    background-color: var(--primary-color);
    margin-right: 30px;
    margin-top: 40px;
 }
.card-title {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
 }
 .card-text {
   text-align: center;
 }
.btn-view {
    background-color:  var(--btn-color);
    border: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    color: var(--background-color);
 }
.btn-Add {
    background-color:  var(--btn-color);
    border: none;
    /* margin-top: 20px; */
    color: var(--background-color);
    right: 0;
 }
 .btn-sendinvite {
   border: 2px solid var(--text-color);
   margin-top: 20px;
   color: var(--text-color);
   font-weight: bold;
   margin-right: 10px;
}
.floating-button {
    position: fixed;
    bottom: 40px; 
    left: 40px; 
    width: 56px; 
    height: 56px; 
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    text-decoration: none; 
    box-shadow: 0 2px 10px var(--text-color);
    transition: background-color 0.3s; 
 }
 .form-group input {
    border-radius: 20px;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: right;
 }
 .form-group label {
   text-align: right;
   right: 0;
}
 .btn-secondary {
    margin-top:20px;
    right: 0;
 }
 .btn-group a {
    border: 2px solid var(--text-color);
 }
 .modal-body .btn-File {
    background-color: var(--primary-color);
    color: var(--text-color); 
 }
 .modal-body .btn-Info {
    background-color: #44134a;
    color: var(--background-color);
 }
 .modal-body .btn-Logout {
    background-color: var(--btn2-color);
    margin-top:20px;
    color: var(--background-color);
    width: 100%;
 }
 .modal-body .btn-Reauests {
   background-color: var(--btn-color);
   margin-top:20px;
   color: var(--background-color);
   width: 100%;
}
.modal-body .btn-fileReauests {
   background-color: var(--btn-color);
   margin-top:20px;
   color: var(--background-color);
   width: 100%;
}
 #fileStatus {
    padding: 8px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--primary-color);
 }
.card-body .btn-invite {
    background-color: var(--btn2-color);
    margin-top:20px;
    color: var(--background-color);
    width: 100%;
 }
.card-body .fa-user {
   font-size: 3rem;
   margin-bottom: 10px;
 }
.card-body .btn-edit {
    background-color: var(--btn-color);
    margin-top:20px;
    color: var(--background-color);
    /* width: 100%; */
 }
 .card-body .btn-report {
    background-color: var(--btn2-color);
    margin-top:20px;
    color: var(--background-color);
    margin-right: 10px;
 }
 .btn-delete-icon {
   position: absolute;
   top: 10px;
   left: 10px;
   background: none;
   border: none;
   cursor: pointer;
   padding: 0;
}
.btn-delete-icon img {
   width: 24px;
   height: 24px;
}
 .card-body .btn-download {
    position: absolute;
    color: var(--text-color);
    left: 20px;
    font-size: 1.4rem;
 }
 .card-body .btn-upload {
   position: absolute;
   color: var(--text-color);
   right: 20px;
   font-size: 1.4rem;
}

/* ligjt and dark mode */

body.light-mode {
   background-color: var(--background-color);
   color: var(--text-color);
}

body.dark-mode {
   background-color: var(--text-color);
   color: var(--background-color);
}

.header.dark-mode {
   background-color: var(--text-color);
   color: var(--background-color);
}

.header.light-mode {
   background-color: var(--background-color);
   color: var(--text-color);
}

.footer.dark-mode {
   color: var(--background-color);
}

.footer.light-mode {
   background-color: var(--background-color);
   color: var(--text-color);
}
.profile-btn a {
   color: inherit; 
}

body.dark-mode .profile-btn a {
   color: var(--background-color);
}

body.light-mode .profile-btn a {
   color:var(--text-color);
}

#sidebar.dark-mode {
   background-color:  var(--text-color);
   border-left: 2px solid var(--background-color);
}

#sidebar.light-mode {
   background-color: var(--background-color);
   border-left: 2px solid var(--text-color);
}

#sidebar.dark-mode a.sidebar-link {
   color:hwb(0 86% 9%);
}

#sidebar.light-mode a.sidebar-link {
   color: var(--text-color);
}

#sidebar.light-mode a.sidebar-link:hover {
   background-color: hwb(254 40% 28% / 0.075);
   border-right: 3px solid #3b7ddd;
}
#sidebar.dark-mode a.sidebar-link.active {
   border-right: 3px solid hwb(203 71% 9%);
   margin-right: 10px; 
}

#sidebar.dark-mode a.sidebar-link:hover {
   background-color: 3px solid hwb(203 71% 9%);
   border-right: 3px solid hwb(203 71% 9%);
}
#sidebar.dark-mode .sidebar-logo a {
   color: hwb(0 86% 9%);
}
#sidebar.dark-mode #toggle-btn i  {
   color: hwb(0 86% 9%);
}
/*home*/
.grid-container {
   display: flex;
   gap: 10px;
   justify-content: space-between;
   top: 50px;
   position: relative;
}
.main-text-section {
   text-align: center;
   margin-top: 0;
   top: -200px;
   position: relative;
}
.main-text-section img {
   margin-top: 0;
   display: block;
   max-width: 80%;
   object-fit: cover;
}
.section {
   padding: 10px;
   background-color: var(--primary-color);
   border-radius: 20px;
   border: 1px solid var(--border-color);
   flex: 1;
   height: 300px;
}
.section h3 {
   text-align: right;
   margin-bottom: 15px;
}
.grid-container .section:nth-child(n + 2) {
   grid-column: span 2; 
}
.btn-more {
   display: block;
   margin-top: 170px;
   padding: 10px;
   text-align: center;
   color: var(--text-color);
   text-decoration: none;
   border: 1px solid var(--text-color);
   font-weight: bold;
   border-radius: 15px;
}
/* profile */
.grid-container-profile {
   display: flex;
   gap: 20px;
}
.section1 {
   padding: 10px;
   background-color: var(--primary-color);
   border-radius: 20px;
   border: 1px solid var(--border-color);
   flex: 1;
}
.profile-section {
   border: 2px solid var(--border-color);
   padding: 20px;
   background-color: var(--background-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 30%;
   border-radius: 20px;
   height: 37.5rem;
}
.info p {
   text-align: right;
   margin-top: 30px;
}
.files-section {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 50%;
   /* height: 37.5rem; */
   border-radius: 20px;
   border: 1px solid  var(--border-color);
}
.btn-more1 {
   display: block;
   margin-top: 100px;
   padding: 10px;
   text-align: center;
   color: var(--text-color);
   text-decoration: none;
   border: 1px solid var(--text-color);
   font-weight: bold;
   border-radius: 15px;
}
.subsection {
   padding: 20px;
   background-color: var(--background-color);
   display: flex;
   flex-direction: column;
}
.subsection h3 {
   text-align: right;
   margin-bottom: 15px;
}
.section-content {
   flex: 1;
   overflow-y: auto;
}
.file-item {
   display: flex;
   align-items: center;
   margin: 5px 0;
   padding: 10px 0;
}
hr{
   border: 0.5px solid rgba(66, 63, 108, 0.597); 
   width: 100%;
   margin-top: 10px;
}
.btn-Addd{
   margin-left: 20px; 
   border-radius: 10px;
   background-color: #0c2347;
   color: var(--background-color);
}
